{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="insert"><p> Для добавления статьи нажмите: <a class="button" href="{{url_for('.addPost')}}">Добавить</a></div>
{% for c in content %}
<ul><div class="postslist">
        <li>
            <p class="titlelink">{{c.title}}<br>
            <a href="{{url_for('.showPost', posturl = c.url)}}"><img class="imagelink" src="{{c.image}}"></a>
        </li>
</div></ul>
    {% endfor -%}
<div class="clear"<></div>
{% endblock %}

